.content {
  min-height: 100vh;
  display: flex;
  margin: auto 20px;
}
.content > div {
  width: 25%;
}

h1 {
  text-align: center;
}
img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
}

button {
  text-align: center;
}

button a {
  text-decoration: none;
  color: black;
}

button :hover {
  background-color: grey;
}
